# =============== #
# Unity generated #
# =============== #
Temp/*
Library/*
$PROJDIR/Unity/Library
cache
metadata
previews
ScriptAssemblies
assetDatabase3
AssetImportState
assetservercachev3
AssetServerCacheV3
AssetVersioning.db
AudioManager.asset
BuildPlayer.prefs
BuildSettings.asset
DynamicsManager.asset
EditorSettings.asset
EditorUserBuildSettings.asset
expandedItems
FailedAssetImports.txt
guidmapper
InspectorExpandedItems.asset
MonoManager.asset
NetworkManager.asset
ScriptMapper
unity default resources
unity editor resources

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
bin/
*.dll
*.pdb
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
